/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner-content {
        max-width: 800px;
    }
    .feature-1::before, .feature-1::after {
        display: none;
    }
    .feature-2::before, .feature-2::after {
        display: none;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-content {
        max-width: 200px;
    }
    .feature-1::before, .feature-1::after {
        display: none;
    }
    .feature-2::before, .feature-2::after {
        display: none;
    }
    .single-counter {
        color: #fff;
        padding: 20px;
    }
    .third-price {
        left: 26%;
        top: 20px;
    }
    .third-blog{
        left: 26%;
        top: 20px;
    }
    .subscribe-area form input[type="submit"] {
        border-radius: 10px;
        margin-top: 50px;
        width: 100%;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .about-text a {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .feature-1::before, .feature-1::after, .feature-2::after, .feature-2::before {
        display: none;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.banner-content h2 {
    font-size: 25px;
  }
  .banner-content a {
    font-size: 14px;
    padding: 8px 12px;
  }
.section-title h4 {
    font-size: 20px;
  }
  .section-title p {
    font-size: 14px;
  }
  .about-content h4 {
    font-size: 18px;
  }
  .about-content p {
    font-size: 12px;
  }
.about-content ul li {
    font-size: 12px;
  }
  .about-content a {
    font-size: 11px;
  }
  .btn-btn{
      font-size: 12px;
  }
.about-img img {
    margin-top: 22px;
    width: 100%;
  }
  .single-about h4 {
    font-size: 18px;
  }
  .single-about p {
    font-size: 14px;
  }
  .single-about a {
    font-size: 12px;
  }
  .single-feature h4 {
    font-size: 18px;
  }
  .single-feature p {
    font-size: 12px;
  }
.single-service h4 {
    font-size: 18px;
  }
  .single-service p {
    font-size: 12px;
  }
  .single-service i {
    font-size: 18px;
  }
  .single-process h4 {
    font-size: 18px;
  }
  .single-process p {
    font-size: 12px;
  }
  .project-content h4 {
    font-size: 18px;
  }
  .single-counter h4 {
    font-size: 12px;
  }
  .single-counter span {
    font-size: 22px;
  }
  .team-content h4 {
    font-size: 18px;
  }
  .team-content span {
    font-size: 12px;
  }
  .video-content h4 {
    font-size: 18px;
  }
  .video-content p {
    font-size: 12px;
  }
  .video-content i {
    font-size: 25px;
  }
.price-content h4 {
    font-size: 18px;
  }
  .price-content h1 {
    font-size: 25px;
  }
  .price-content h1 span {
    font-size: 15px;
  }
  .price-content p {
    font-size: 12px;
  }
  .single-testimonial p {
    font-size: 12px;
  }
  .single-testimonial i {
    font-size: 16px;
  }
  .author-info{
      left: 25%;
  }
  .author-info h4 {
    font-size: 18px;
  }
  .blog-title h4 {
    font-size: 18px;
  }
  .blog-title p {
    font-size: 12px;
  }
  .blog-meta a {
    font-size: 12px;
  }
  .single-address h4 {
    font-size: 16px;
  }
  .single-address h4 span {
    font-size: 16px;
  }
  .single-address i {
    font-size: 12px;
  }
  .contact-form input {
    font-size: 12px;
  }
  .contact-form textarea {
    font-size: 12px;
  }
  .footer-item{
      padding: 10px 0px;
  }
  .footer-item h4 {
    font-size: 18px;
  }
  .footer-item p {
    font-size: 12px;
  }
  .copyright-footer.text-center p {
    font-size: 12px;
  }
.two.footer-item ul li {
    font-size: 12px;
  }
  .three.footer-item ul li a {
    font-size: 12px;
  }
  .three.footer-item i {
    font-size: 12px;
  }
.one.footer-item i {
    font-size: 12px;
    margin-bottom: 12px;
  }
.navbar.navbar-expand-lg a {
    font-size: 16px;
  }
  .navbar.navbar-expand-lg a:hover{
      color: rgb(255, 0, 119);
  }
}