@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 26px;
}
html,body{
    height: 100%;
    scroll-behavior: smooth;
    transition: .7s;
}

:root{
    --theme-color: #05386b;
}
.h-100{
    height: 100%;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    transition: .3s;
}
/* Header Part */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-area {
	position: absolute;
	left: 0;
    right: 0;
    position: fixed;
    background-color: #333333;
    border-bottom: 1px solid #fff;
	z-index: 999;
}
.navbar-brand {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
}
.navbar-nav li.current a {
	color: var(--theme-color);
}
.navbar-nav.ml-auto li a {
	color: #fff;
	text-transform: capitalize;
	margin: 0 14px;
    display: block;
    text-decoration: none;
    padding: 5px 0px;
}
.navbar-nav.ml-auto li a:hover{
    color: #0054ad;
}
/* Banner Part */
.bg{
    background-size: cover;
    background-position: center;
    transition: .3s;
    position: relative;
}
.bg:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.80;
}
.banner-content {
	color: #fff;
	text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.banner-content h4 {
	font-size: 20px;
	text-transform: uppercase;
}
.banner-content h2 {
	font-size: 38px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-btn { /*common button*/
	background: var(--theme-color);
	padding: 10px 20px;
	color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
}
.banner-content a:hover{
    background-color: #000e1d;
    color: #fff;
    text-decoration: none;
}
.banner-area.owl-carousel .owl-stage-outer{
    height: 100%;
}
.banner-area.owl-carousel .owl-stage {
	height: 100%;
}
.banner-area.owl-carousel .owl-item {
	height: 100%;
}
.banner-area .owl-dots button{
	background: #05386b;
	width: 5px;
	height: 35px;
	display: block;
	margin: 10px 0px;
	border-radius: 20px;
}
.banner-area .owl-dots button:focus{
    outline: none;
}
.banner-area .owl-dots {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	margin: 10px;
}
.banner-area .owl-dots button.active{
    background-color: #fff !important;
}
/* About Section Start */

.section-title {
    text-align: v;
    text-align: center;
    margin-bottom: 50px;
  }
  .section-title span {
    font-style: italic;
  }
  .section-title h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    position: relative;
    padding-bottom: 12px;
  }
  .section-title h4::before {
	position: absolute;
	content: '';
	width: 60px;
	height: 2px;
	background: var(--theme-color);
    left: 50%;
    bottom: 0;
	transform: translateX(-50%);
}

.about-content h4 {
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .about-content ul {
    margin-bottom: 25px;
  }
  .about-img{
      position: relative;
  }
  .about-img:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: var(--theme-color);
      right: -10px;
      bottom: -10px;
      z-index: -1;
  }
  .single-about{
      margin-top: 40px;
  }
  .single-about h4{
      text-transform: capitalize;
      position: relative;
      padding-bottom: 12px;
  }
  .single-about h4::before {
	position: absolute;
	content: '';
	width: 60px;
	height: 2px;
	background: var(--theme-color);
    left: 0;
    bottom: 0;
}
  .single-about a{
      text-transform: capitalize;
      text-decoration: none;
      color: #000000;
  }
  /* feature Section Start */
  
.feature-area {
    position: relative;
    background: #f9f9f9;
    padding: 80px 20px;
    
  }
  .feature-area i{
      font-size: 25px;
      margin-bottom: 20px;
  }
  .feature-area h4{
      font-size: 24px;
      text-transform: capitalize;
      font-weight: 600;
  }
  .feature-1:after {
    position: absolute;
    content: '';
    background: url;
    background: url('../img/feature-img.jpg');
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: center;
  }
  .feature-2:after {
    position: absolute;
    content: '';
    background: url;
    background: url('../img/feature-img2.jpg');
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
  }
  .feature-1:before{
      position: absolute;
      content: '';
      width: 50%;
      height: 100%;
      right: 0;
      top: 0;
      background-color: rgb(0, 0, 0);
      z-index: 2;
      opacity: .6;
  }
  .feature-2:before{
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    opacity: .6;
}

/* Service Section Start */
.single-service{
    box-shadow: 0px 15px 40px #eee;
    padding: 25px;
}
.single-service i{
    font-size: 30px;
}


/* Process Sectio Start
 */
 .process-area{
     color: #fff;
     padding: 50px;
 }
 .single-process h4{
     background-color: var(--theme-color);
     border-radius: 25px 10px;
     text-transform: capitalize;
     position: relative;
     font-size: 22px;
     padding: 10px;
 }
 .single-process h4 span{
     position: absolute;
     right: 0;
     top: 0;
     background-color: #ffffff;
     padding: 10px 20px;
     
     color: #000e1d;
 }

 /* Project area */
 .projects-area{
     padding: 50px;
 }
.project-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s;
  }
  .project-overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #333;
    left: 0;
    top: 0;
    opacity: .8;
  }
  .project-content {
    color: #fff;
    z-index: 2;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
  }
  .project-content i{
      font-size: 30px;
      cursor: pointer;
  }
  .project-content h4{
      text-transform: capitalize;
      font-size: 26px;
      margin-top: 10px;
  }
  .project-content h4 span{
    display: block;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin-top: 10px;
}
.single-project:hover .project-overlay{
    transform: scale(1);
}
/* Counter area */
.counter-area{
    background: #333;
    padding: 80px 0;
}
.single-counter{
    color: #fff;
}
.single-counter i{
    font-size: 20px;
}
.single-counter h4{
    text-transform: capitalize;
    font-size: 16px;
}
.single-counter span{
    display: block;
    font-size: 40px;
}
/* Team area */
.tema-area {
    padding: 50px;
}
.single-team{
    position: relative;
    overflow: hidden;
}
.single-team img {
    width: 100%;
}
.team-content {
    position: absolute;
    background: #333;
    width: 100%;
    transition: .3s;
    left: 0;
    bottom: -115px;
}
.team-content h4 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    padding: 25px;
}
.team-content h4 span {
	display: block;
	font-size: 16px;
	font-style: italic;
    font-weight: 600;
    color: #fff;
}
.single-team:hover .team-content{
    bottom: 0;
}
/* Video Area */
.video-area{
    padding: 50px;
    background: #333;
    color: #fff;
}
.video-content h4{
    font-size: 30px;
}
.video-content i{
    font-size: 30px;
}
/* Process Area */
.price-area{
    padding: 50px;
}
.price-content{
    box-shadow: 0px 15px 40px #e6e6e6;
    padding: 50px;
}

.price-content p {
    line-height: 40px;
    font-size: 20px;
  }
  .price-content a {
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  .price-content a::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0;
    bottom: 0;
    width: 0;
    background: linear-gradient(to right,#05386b,#001120);
    height: 100%;
    transition: .7s;
    z-index: -1;
  }
  .price-content a:hover::before {
    width: 100%;
    color: #fff;
  }
  .price-content h4 {
    font-weight: 600;
    text-transform: uppercase;
  }
  .price-content h1 {
    font-size: 40px;
    font-weight: 700;
    background: #f9f9f9;
    padding: 20px
  }
  .price-content .active {
    background: var(--theme-color);
    color: #fff;
  }
  .price-content h1 span {
    font-size: 20px;
    font-weight: 600;
  }
  /* Testimonial Area */
  .testimonial-area{
      color: #fff;
  }
  .single-testimonial i{
      font-size: 30px;
  }
  .author-info{
      position: relative;
  }
  .author-info img{
      position: absolute;
      left: 0;
      top: -5px;
      border-radius: 50%;
      max-width: 60px;
      border: 1px dashed #ddd;
      padding: 3px;
  }
  .author-info h4{
      text-transform: capitalize;
      padding-left: 75px;
      margin-top: 25px;
  }
  .single-testimonial p{
      width: 100%;
  }
  .author-info h4 span{
    text-transform: lowercase;
    font-style: italic;
    font-size: 16px;
    display: block;
}
/* Blog Area */
.blog-img img {
  width: 100%;
}
.blog-img img:hover{
    background-color: #000000;
    opacity: 0.70;
}
.blog-meta {
  text-align: center;
  padding: 5px;
  box-shadow: 0px 15px 40px #ddd;
  position: relative;
  z-index: 10;
  margin-top: -85px;
  margin: 0 40px;
  margin-top: -18px;
  background: #fff;
  border-radius: 5px;
}
.blog-title a{
    color: #333;
    text-decoration: none;
    font-size: 16px;
}
.blog-title a:hover{
    color: var(--theme-color);
}
.blog-title h4{
    color: #333;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
}
.blog-title p{
    padding: 10px 0px;
}
/* Subscribe Area */
.subscribe-area{
    color: #fff;
}
.subscribe-area form{
    position: relative;
}
.subscribe-area form input{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}
.subscribe-area form input:focus{
    outline: none;
}
.subscribe-area form input[type="submit"]{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    padding: 10px 60px;
    font-size: 20px;
    font-weight: 500;
    background: var(--theme-color);
    color: #fff;
    border-radius: 0%;
}
/* Contact Area */

.single-address h4 span {
    display: block;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    text-transform: lowercase;
  }
  .single-address {
    position: relative;
    padding: 10px;
    border-bottom: 2px solid #eee;
  }
  .single-address i {
    position: absolute;
    font-size: 15px;
    padding: 0;
    background: var(--theme-color);
    color: #fff;
    padding: 16px;
  }
  .single-address h4 {
    margin-left: 75px;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
  }
  
.contact-form input {
    width: 100%;
    border: 1.5px solid #dbdbdb;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    outline: none;
  }
  .contact-form input:focus {
    outline: none;
  }
  .contact-form textarea {
    border-radius: 20px;
    width: 100%;
    height: 90px;
    margin-left: 10px;
    padding: 10px;
    border: 1.5px solid #eee;
  }
  .contact-form textarea:focus {
    outline: none;
  }
  .contact-form input[type="submit"] {
    width: 100%;
    border: 1.5px solid #dbdbdb;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: var(--theme-color);
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
  }
  /* Brand Area */
.brand-area{
      background-color: #eee;
      padding-top: 30px;
}
.brand-img img{
    max-width: 160px;
    margin-left: 20px;
}
/* Footer Area */
.footer-area{
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #fff;
    position: relative;
}
.footer-item h4::before {
	position: absolute;
	content: '';
	width: 60px;
	height: 1px;
	background: #fff;
    left: 15px;
    top: 25%;
}
.one i {
    padding: 5px;
    font-size: 20px;
    background: #fff;
    color: #333;
    padding: ;
    margin: 2px;
    border-radius: 5px;
  }
  .one i:hover{
      color: #fff;
      background-color: var(--theme-color);
      cursor: pointer;
  }
  .two a {
    text-decoration: navajowhite;
    color: #fff;
    padding: ;
    margin: ;
    font-size: 16px;
    text-transform: capitalize;
  }
  .two a:hover{
      color: var(--theme-color);
      transition: .7s;
  }
  .two i {
    font-size: 15px;
    padding: 5px;
  }
  .three i {
    padding: 5px;
    font-size: 15px;
  }
  .three a {
    color: #fff;
    font-size: 16px;
    text-transform: lowercase;
    text-decoration: none;
  }
  .footer-end{
      background-color: #333;
      color: #fff;
      padding: 10px;
  }